<%- include('partials/_header'); %>
<%- include('partials/_navigation'); %>
      <div class="back_re">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                     <h2>Login</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--  contact -->
      <div id="contact" class="contact">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <form id="request" class="main_form" action="users/signup">
                     <div class="row">
                     
                        <div class="col-md-12">
                           <input class="contactus" placeholder="Email" type="type" name="Email"> 
                        </div>
                        <div class="col-md-12">
                            <input class="contactus" placeholder="Password" type="type" name="password"> 
                         </div>
                       
                   
                        <div class="col-md-12">
                           <button class="send_btn">Send</button>
                        </div>
                     </div>
                  </form>
               </div>
           
            </div>
         </div>
      </div>
      <!-- end contact -->
      <%- include('partials/_footer'); %>
